
.tela-login {
    width: 100vw;
    height: 100vh;
    background-image: url(../images/fundo-tela-login.jpg);
    background-position: center;
    background-repeat: no-repeat;

    
}
.container-formulario {
    width: 450px;
    height: 450px;
    border-radius: 10px;
    background-color: #004480;
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
.formulario-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: 95%;
    border-radius: 10px;
    background-color: #004480;
    border: 1px solid rgba(255, 255, 255, 0.384);
}
.formulario-login label{
    color: white;
    font-weight: 400;
    font-size: 30px;
}
.formulario-login input {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    outline: 0;
    text-align: center;
    width: 300px;
    height: 30px;
    border-radius: 20px;
}
.formulario-login input:focus{
    outline: 1px solid rgba(255, 255, 255, 0.384);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.formulario-login span {
    font-size: 17px;
    margin-top: 20px;
}
.formulario-login span a {
    font-size: 20px;
    color: white;
    text-decoration: none;
}
.formulario-login a:hover {
    text-decoration: underline;
}
#user-icone {
    position: absolute;
    top: 260px;
    left: 500px;
    user-select: none;
}
#lock-icone {
    position: absolute;
    top: 335px;
    left: 500px;
    user-select: none;
}
#user-icone-cadastro {
    position: absolute;
    top: 223px;
    left: 500px;
    user-select: none;
}
#email-icone-cadastro {
    position: absolute;
    top: 300px;
    left: 500px;
    user-select: none;
}
#lock-icone-cadastro {
    position: absolute;
    top: 374px;
    left: 500px;
    user-select: none;
}

.bt-cl a{
    background-color:#005baa ;
    display: block;
    padding: 15px;
    margin-top: 4px; 
    border: 1px solid white;
    border-radius: 15px;
    transition: all 0.5s;
    text-decoration: none !important;
}
 
.c a{
    margin-top: 4px;
}

.bt-cl a:hover {
    transform: scale(1.05);

}    
